.container{
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
}

.item{
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

.smallText{
    font-size: small;
}

.image{
    border: solid 2px white !important;
}

@media(max-width: 1170px){
    .container{
        display: grid;
        grid-template-columns: 100%;
    }
}