.container{
    display: grid;
    grid-template-columns: 390px 390px 390px;
}

.chart{
    width: 390px;
    margin-bottom: 32px;
}

@media(max-width: 1170px){
    .container{
        display: grid;
        grid-template-columns: 390px;
    }
}