.container{
    display: grid;
    grid-template-columns: 16.666666% 16.666666% 16.666666% 16.666666% 16.666666% 16.666666%;
}

.item{
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
}

.snsIcon{
    color: white;
}

.snsIcon:hover{
    color: #2196F3;
}

@media(max-width: 1170px){
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}